.body{
	width:100%;
	height:150vh;
	
}
.responsive{
	width:100%;
	height:auto;
}
	
.back{
	 
    background-image:url(' https://wallpaper.dog/large/991424.jpg ');
	
	background-repeat:no-repeat;
	width:200vh;
	height:100vh;
	width:100%;
    
	margin-left:0px;
	background-size:cover;
	
	
	



}



.main{
	width:105.25%;
	margin-left:0px;
	margin-right:0px;
	position:fixed;
	top:0px;
	z-index:10;

}

.fir{
	background-color:white;file:///F:/1%20sem%20all%20pdf/PERSONAL%20PRODUUCTIVITY%20WITH%20INFORMATION%20TECHNOLOGY(IS1107)/Assignment%20(20APC4559)/htmlfile.html#
	height:100px;
	display:flex;
	margin-right:100px;
	width:94%;
	
	
}
.log{
	display:block;
	
	padding-left:200px;
	padding-top:30px;
	width:25%;
}
.cal{
	
	display:block;
	padding-left:300px;
	padding-top:30px;
	
	width:40%;
	
}

.but{
	
	
	color:white;
	float:right;
	padding-left:450px;
	padding-top:30px;
	padding-right:10px;
	width:20%;
	width:25%;
	
}
.img{
	float:left;
	width:25%;
	margin-left:0px;
}
.vr{
    background-color:orange;
	color:white;
	cursor:pointer;
	width:100px;
	border:none;
	height:25px;
}
.vr:hover{
	color:black;
}
.nav{
	background-color: #152238;
	width:94%;
	height:50px;
	
	
	
	display:flex;
	
}

a{
	text-decoration:none;
	color:white;
	padding:0px 30px;
	display:flex;
	font-weight:bold;
	transition:all 0.3s ease-in-out;
	box-sizing:border-box;
	
}
.unlist ul  {
	display:flex;
	list-style:none;
	padding-left:0;
	width:100%;
}
a:hover{
	color:orange;
}
.war{
	float:right;
	display:flex;
	padding-top:10px;
	
	

	padding-left:485px;
	

}
.bar {
	background-color:black;
	color:white;
	border:1px white solid;
	border-radius:20px;
	font-weight:bold;
	padding:5px;
	box-sizing:border-boxing;
	text-align:center;

}
.nav ul li:nth-child(1) a{
	color:green;
}
.nav ul li:last-child a{
color:green
}
.nav ul li a:hover{
	color:orange;
}
.nav .fa{
	margin-right:8px;
}
.sec1{
	float:left;
	padding:100px;
	width:40%;
	color:white;
	font-weight:bold;
	
}
.sec1 p{
	font-size:100%;
	line-height:130%;
}

.but1{
	color:black;
	background-color:orange;
	border-radius:20px;
	border:none;
	margin-top:30px;
	width:150px;
	height:50px;
	cursor:pointer;
	
}
.setup{
	float:left;
	width:100%;
	display:flex;
	padding-top:185px;
	height:400px;
	
	
	
}
.setup p{
	padding-top:3px;
}
.setup h2{
	padding-top:10px;
}
.sec2{
	color:white;
	background-color:#152238;
	padding:50px;
	
	width:25%;
	box-sizing:border-box;
	text-align:justify;
	
	
}
.sec3{
	color:white;
	background-color:orange;
	padding:50px;
	
	width:25%;
	box-sizing:border-box;
	text-align:justify;
}
.sec4{
	color:white;
	background-color:#152238;
	padding:50px;
	
	width:25%;
	box-sizing:border-box;
	text-align:justify;
}
.sec5{
	color:white;
	background-color:orange;
	padding:50px;
	
	width:25%;
	box-sizing:border-box;
	text-align:justify;
}
.sec2:hover{
transform:scale(1.2,1.2);
}
.sec3:hover{
transform:scale(1.2,1.2);
}
.sec4:hover{
transform:scale(1.2,1.2);
}
.sec5:hover{
transform:scale(1.2,1.2);
}
p{
font-size:90%;
}
.unlist ul li:hover{
	background:black;
	border:5px,black,solid;
	border-radius:2px;
	height:33px;

}

.sub-menu-1{
	display:none;
}
.unlist ul li:hover .sub-menu-1{
	display:block;
	position:absolute;
	background:#142b44;
	margin-top:15px;
	margin-left:-15px;
	text-align:center;
	
}

.unlist ul li:hover .sub-menu-1 ul{
	display:block;
	margin:10px;
}

.unlist ul li:hover .sub-menu-1 ul li {	
width:300px;
padding:10px;
border-bottom: 1px dotted white;
border-radius:0;
padding-left:100px;
}

.unlist ul li:hover .sub-menu-1 ul li:last-child {		
border-bottom:none;
color:none;
}
.unlist ul li:hover .sub-menu-1 ul li a:hover {
color:blue;

}	
.unlist ul li:hover .sub-menu-1 ul li a{
	color:white;
}

.footer{
	margin-top:150px;
	width:100%;
	padding:100px 15%;
	background:#333;
	color:#efefef;
	display:flex;
	box-sizing:border-box;
}
.footer a:hover{
	color:#FFFFF7 ;
}
.footer div{
	text-align:center;
}
.col-2{
	flex-grow:2;
}
.address{
	width:40%;
	text-align:center;
	height:25px;
}
.footer .bar{
	height:30px;
	width:20%;
	background-color:transparent;
	border-radius:5px;
	cursor:pointer;
}
.footer div h3{
font-weight:300;
margin-bottom:30px;
letter-spacing:1px;
}
.footer a{
display:block;
margin-bottom:20px;
}
.social{
	margin-top:30px;
}
.social i{
	font-size:22px;
	margin:10px;
	cursor:pointer;
}
.sub_3{
	position:relative;
top:100px;
z-index:1;
}


	



